@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap&family=Bowlby+One+SC");

body {
  margin: 0;
  font-family: Dagny Offc Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: white;
  background-color: #293881;
  transition: background-color 0.2s ease;
  font-size: 18px;
  font-family: Dagny;
}

@font-face {
  font-family: "Dagny";
  src: local("Dagny"), url("./fonts/Dagny.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Dagny";
  src: local("Dagny"), url("./fonts/DagnyBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Dagny";
  src: local("Dagny"), url("./fonts/DagnyItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
